[submodule "l3g-arduino"]
	path = l3g-arduino
	url = https://github.com/pololu/l3g-arduino.git
[submodule "libraries/3g-arduino"]
	path = libraries/3g-arduino
	url = https://github.com/pololu/l3g-arduino.git
